* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
font-family: 'Edu SA Beginner', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Rajdhani', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: rgb(50, 12, 82);
    background: linear-gradient(19deg, rgba(50, 12, 82, 1) 34%, rgba(6, 0, 65, 1) 69%);
    background-size: contain;
    display: flex;
    justify-content:center ;
    align-items: center;
    text-align: center;
    gap: 2%;
}
.box {
    border: 1px solid;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 200%;
}

.play-board {
    width: 100%;
    display:flex ;
    flex-wrap: wrap;
}

button {
    color: black;
    padding: 10px 20px;
    font-size: 120%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 900;
    margin-bottom: 15px;
}


.info {
    height: 70px;
    width: 300px;
    text-align: left;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.info .kasle-jityo {
    font-size: 120%;
}
.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.left {
    width: 20vw;
}
